.banner-card{
    width: 100vw;
    position: relative;
    height: 70vh;
    color: #fff;
}
.banner-img{
    width: 100vw;
    height: 70vh;
    /* object-fit: cover; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid white;
}
.banner-content{
    position: absolute;
    top:100px;
    left: 5px;
    color: #fff;
}
.banner-title{
    position: absolute;
    top: 45vh;
    left: 5vw;
}
.banner-text{
    position: absolute;
    top: 55vh;
    left: 5vw;
    overflow: hidden;
    height: 4.5rem;
    margin-right: 4.5vw;
}
@media screen and (max-width: 600px) {
    .banner-card
    ,.banner-img{
        height: 30vh;
    }
    .banner-title{
        top: 12vh;
    }
    .banner-text{
        top: 17vh;
    }
}